/* MAIN STYLES */

.blue-bg {
    background-color: #17044D;
    color: white;
}

.dark-blue-bg {
    background-color: #0e032e;
    color: white;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

body {
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

.max-width {
    margin: 0 auto !important;
    max-width: 1700px;
}

/* SCROLLBAR STYLES */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #17044D;
}

::-webkit-scrollbar-thumb:hover {
    background: #0e032e;
    cursor: n-resize;
}

/* FONT: POPPINS STYLES */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* STYLES IN GENERAL */

/* NAV STYLES */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h5 {
    margin: 0;
    padding: 0.3rem 3.4rem;
}

nav div {
    display: flex;
    gap: 20px;
}

div h6 {
    margin: auto 50px;
}

div h6:hover,
.icon:hover,
.nav-menu-item:hover {
    color: rgb(197, 197, 197) !important;
    cursor: pointer;
}

.icon {
    display: none;
    font-size: x-large;
}

.icon-closed {
    font-size: 2rem;
    padding-top: 0.2rem !important;
}

.top-nav {
    overflow: hidden;
    padding: 1.4rem 3.2rem;
}

.nav-text {
    min-width: 340px;
}

.nav-menu {
    text-align: center;
    padding: 1rem 0;

    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.nav-menu-item {
    font-size: 1.5rem;
    flex-grow: 1;
    padding-bottom: 10px;
}

.nav-menu-item:hover {
    padding-left: 10px;
    transition: 200ms;
}

@media screen and (max-width: 1000px) {
    .nav-items {
        display: none;
    }

    .top-nav {
        padding: 1.4rem 1rem;
    }

    .icon {
        float: right;
        display: block;
        padding: 0.85rem 0;
    }

    .nav-menu {
        display: inherit;
    }
}

/* MAIN STYLES */

.main-text {
    width: 400px;
    font-size: 3rem;
}

.p-main {
    font-size: 1rem;
}

.p2-main {
    font-size: 0.8rem;
}

.main-section {
    width: 500px;
}

.main-photo {
    height: 410px;
}

/* SECTION-2 STYLES */

.section-2 {
    margin: 80px;
}

.card-services {
    max-width: 350px;
    min-width: 250px;

    max-height: 300px;
    min-height: 200px;

    border-radius: 10px;

    margin-bottom: 1rem;
}

.card-article {
    max-width: 300px;
    min-width: 200px;

    flex-grow: 1;
    margin: 10px;
}

.card-text {
    color: #1b1b1b;
    font-size: 0.90rem;
}

.link {
    color: #9224D6;
    font-size: 0.90rem;
    text-decoration: underline;
}

.link:hover {
    color: #660799;
    cursor: pointer;
    padding-left: 10px;
    transition: 200ms;
}

/* SECTION-3 STYLES */

.section-3 {
    margin-bottom: 8rem !important;
}

.section-3-text {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.btn-section-3 {
    border-radius: 20px;
    background-color: white;
    border: 2px solid #17044D;
    color: #17044D;
    padding: 0.5rem 1.8rem;
}

.btn-section-3:hover {
    background-color: #17044D;
    color: white;
}

/* SECTION-4 / CONTACTS STYLES */

.section-4 {
    padding: 80px 0;
    max-width: 800px;
    margin: 0 auto;
}

/* FOOTER STYLES */

.footer {
    margin: 0 80px;
}

.point {
    font-size: 30px;
    padding-bottom: 4px;
}

.social-media-container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}

.social-media-container .point {
    margin: 0 5px;
}

.item-active:hover {
    color: #868686;
    cursor: pointer;
}

.contact-container {
    color: #585858;
}

.contact-item:hover {
    color: black;
    cursor: pointer;
}

footer>article {
    margin: 80px auto;
}

.divs-footer {
    width: 300px;
    margin: 0 auto;
}

.grey {
    color: rgb(141, 141, 141);
}

/* GO TO TOP BUTTON STYLES */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0e032e;
    color: white;
    cursor: pointer;
    padding: 3px 17px;
    border-radius: 10px;
    font-size: 30px;
}

#myBtn:hover {
    background-color: #08021a;
}